<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>ASmile clinic </title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <div class="container-nav">
            <div class="header-content">
                <div class="logo">
                    <img src="" alt="">
                    <span>ASmile Clínica Dental</span>
                </div>
                <nav class="nav">
                    <a href="#">Inicio</a>
                    <a href="services.html">Servicios</a>
                    <a href="contact.html">Contacto</a>
                </nav>
                <!---Boton hamburguesa-->
                <div class="menu-toggle">☰
                </div>
            </div>
        </div>
    </header>
    
    <section class="hero">
        <div class="container">
            <h2>Más razones para sonreír</h2>
            <p>Atención dental profesional y personalizada</p>
            <a href="contacto.html" class="btn">Agendar cita</a>
        </div>
    </section>
    
    <section class="services-section">
        <div class="container">
            <h2>Servicios</h2>
            <div class="services">
                <div class="service">
                    <h3>Limpieza</h3>
                    <a href="">Agendar cita</a>
                </div>
                <div class="service">
                    <h3>Blanqueamiento</h3>
                    <a href="">Agendar cita</a>
                </div>
                <div class="service">
                    <h3>Ortodoncia</h3>
                    <a href="">Agendar cita</a>
                </div>
                <div class="service">
                    <h3>Emergencia Dental</h3>
                    <a href="">Agendar cita</a>
                </div>
            </div>
            <a href="services.html">Explora todos los servicios</a>
        </div>
    </section>

    <section class="location">
        <div class="container">
            <h2>Ubicación en</h2>
            <div class="map" >
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3732.247963384894!2d-105.246448!3d20.700153099999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x84214673aff411fb%3A0xc259ddc677f6fcef!2sFrancisco%20I.%20Madero%20208%2C%2048291%20Las%20Juntas%2C%20Jal.!5e0!3m2!1ses-419!2smx!4v1774056574787!5m2!1ses-419!2smx" 
                width="600" 
                height="450" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <p>Puerto Vallarta</p>
        </div>
    </section>

    <section class="about-doctors">
        <div class="container">
            <h2>Conoce a nuestros doctores</h2>
            <p>Dr. Alan Ramirez- Especialista en Ortodoncia</p>
        </div>
    </section>

    <section class="contacto">
        <div class="container">
            
        </div>
    </section>

    <section class="reviews">
        <div class="container">
            <h2>Reseñas</h2>
            <div class="review">
                <p>Excelente servicio</p>
                <span>- Juan</span>
            </div>
        </div>
    </section>

    <section class="end">
        <div class="container">
            <h2>¡Agenda tu cita hoy mismo!</h2>

            <a href="contacto.html" class="btn">Agendar cita</a>
        </div>
    </section>
    
    <footer>
        <div class="container">
            <p>Contacto: correo@clinica.com</p>
            <p>2026 Asmile Clinica Dental</p>
        </div>
    </footer>

<script src="/static/js/script.js"></script>
</body>

</html>