<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Servicios</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<header>
    <div class="container-nav">
        <div class="header-content">
            <div class="logo">
                <img src="" alt="">
                <span>ASmile Clínica Dental</span>
            </div>
            <nav class="nav">
                <a href="#">Inicio</a>
                <a href="services.html">Servicios</a>
                <a href="contact.html">Contacto</a>
            </nav>
            <!---Boton hamburguesa-->
            <div class="menu-toggle">☰
            </div>
        </div>
    </div>
</header>

<section class="services-page">
    <h1>Nuestros Servicios Dentales</h1>
    <p class="descripcion">
        Atencion integral con tecnologia moderna y especialialistas para cuidar tu salud y estetica dental.

    </p>

    <div class="container2">
        <div class="service-card">
            <h2>Odontologia General</h2>
            <ul>
                <li>Valoración y diagnóstico</li>
                <li>Limpieza dental</li>
                <li>Eliminación de sarro</li>
                <li>Aplicación de flúor</li>
                <li>Tratamiento de caries</li>
                <li>Reconstrucciones</li>
                <li>Selladores dentales</li>
            </ul>
            <a href="cita.html" class="btn-service">Agendar cita</a>
        </div>

        <div class="service-card">
            <h2>Endodoncia</h2>
            <ul>
                <li>Tratamiento de conductos</li>
                <li>Retratamientos</li>
            </ul>
            <a href="cita.html" class="btn-service">Agendar cita</a>
        </div>

        <div class="service-card">
            <h2>Estetica Dental</h2>
            <ul>
                <li>Blanqueamiento dental</li>
                <li>Diseno de sonrisa</li>
                <li>Carillas dentales</li>
            </ul>
            <a href="cita.html" class="btn-service">Agendar cita</a>
        </div>

        <div class="service-card">
            <h2>Protesis Dental</h2>
            <ul>
                <li>Coronas dentales</li>
                <li>Puentes fijos</li>
                <li>Protesis removibles</li>
            </ul>
            <a href="cita.html" class="btn-service">Agandar cita</a>
        </div>

        <div class="service-card">
            <h2>Ortodoncia</h2>
            <ul>
                <li>Brackets metalicos</li>
                <li>Brackets esteticos</li>
                <li>Tratamientos personalizados</li>
            </ul>
            <a href="cita.html" class="btn-service">Agendar cita</a>
        </div>

        <div class="sevice-card">
            <h2>Cirugia Maxilofacial</h2>
            <ul>
                <li>Extraccion de muelas del juicio</li>
                <li>Cirugias complejas</li>
                <li>Implantes dentales</li>
                <li>Tratamiento de quistes</li>
            </ul>
            <a href="cita.html" class="btn-service">Agendar cita</a>
        </div>

        <div class="service-card">
            <h2>Servicios complementarios</h2>
            <ul>
                <li>Urgencia dental</li>
                <li>Guardas Oclusales</li>
                <li>Sensibilidad dental</li>
            </ul>
            <a href="cita.html" class="btn-service">Agendar cita</a>
        </div>

    </div>
</section>

<footer>
    <div class="container">
        <p>Contacto: correo@clinica.com</p>
        <p>2026 Asmile Clinica Dental</p>
    </div>
</footer>

<script src="/static/js/script.js"></script>
</body>

</html>